import java.time.*
Date now = new Date()

workDir = '/projects/b1042/AndersenLab/work/'

process.cache = "lenient"

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 04:00:00 -e errlog.txt'
    container = 'andersenlab/nemascan:20220407173056db3227' // still need to make cp docker img
    errorStrategy='retry'
    maxRetries=3
    
    withLabel: snpeff {
        queue = 'genomicsguestA'
        clusterOptions = '-A b1042 -t 24:00:00'
        memory = 30.GB
        errorStrategy='retry'
        maxRetries=6
    }
}


params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "pipeline-info"
}

profiles {

    standard { includeConfig 'conf/quest.config' }
    quest { includeConfig 'conf/quest.config' }
    b1059 { includeConfig 'conf/b1059.config'}

}


timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}

singularity {

    enabled = true
    autoMounts = true

    cacheDir = "/projects/b1059/singularity"
    pullTimeout = '20 min'
}

process {
    withLabel: R {
        container = "andersenlab/r_packages:v0.7"
    }

    withLabel: annotation {
        container = "andersenlab/annotation:202203071920250e7671"
    }

}

